* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#page2 {
    background-color: lightblue;
    height: 100vh;
    width: 100%;
}

#page1 {
    background-color: #000;
    height: 100vh;
    width: 100%;
}

#string {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    cursor: none;
    cursor: pointer;
}

.button {
    height: 400px;
    justify-content: center;
    width: 15%;
}
.button .btn{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#string svg {
    margin-top: 100px;
    background-color: lightblue;
}

#page2 h1 {
    font-size: 35vw;
    font-weight: 600;
}

#page3 {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    background-color: brown;
    height: 200px;
    width: 200px;
}

#cursor {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}